page-home {
  .card-header {
    font-size: 20px;
    font-weight: bold;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

  h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
  }

  .card-item {
    font-size: 14px;
  }

}
