<!--
  Generated template for the NoteDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button clear icon-only (click)="goHome()">
      <ion-icon name="home"></ion-icon>
    </button>
    
    <ion-title>note-detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>{{ note.getGroupKey() }}</h2>
  <h2>{{ note.getName() }}</h2>
  <ion-item *ngFor="let textNote of textNotesCopy; index as i">
    {{ textNote }}
    <button ion-button clear icon-only *ngIf="editing" (click)="removeNote(i)">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-item>
  <ion-item *ngIf="editing">
    <ion-input [(ngModel)]="newTextNote" placeholder="New Note..."></ion-input>
  </ion-item>
  <button ion-button *ngIf="editing" (click)="addNewTextNote()">Add New Text Note</button>
  <div *ngFor="let imageNote of note.getImageNotes()">
    <img [src]="imageNote">
  </div>
  <div *ngIf="editing">
    <button ion-button (click)="addNewImageNote()">Add New Image</button>
  </div>
  <div *ngIf="editing">
    <button ion-button (click)="saveNote()">Save</button>
    <button ion-button (click)="cancelNote()">Cancel</button>
  </div>

</ion-content>
